@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rajdhani', cursive;
}

body{
    text-align: center;
    background: linear-gradient(to bottom, #6ab7f5, #fff);
    min-height: 100vh;
}

main {
    display: inline-block;
    margin-top: 2%;
    padding: 2%;
    position: relative;
}

.pokedex {
    width: 100%;
    max-width: 800px;
}

.white-light{
    position: absolute;
    width: 20%;
    top: 3%;
    left: 2.5%;
    opacity: 0;
}

.white-light.active {
    animation: animated 1s;
    animation-delay: calc(0.2s * var());
}

.red-light {
    position: absolute;
    width: 4.5%;
    top: 7.2%;
    left: 19%;
    animation: animate-red 1s infinite;
    animation-delay: calc(0.2s * var());
}

.yellow-light {
    position: absolute;
    width: 4.5%;
    top: 7.2%;
    left: 22.5%;
    animation: animate-yellow 1.2s infinite;
    animation-delay: calc(0.2s * var());
}

.green-light {
    position: absolute;
    width: 4.5%;
    top: 7.2%;
    left: 25.9%;
    animation: animate-green 1.4s infinite;
    animation-delay: calc(0.2s * var());
}

@keyframes animated{
    0% {
        -webkit-opacity:0;
    }
    50%{
        -webkit-opacity: 1;
    }
    100%  {
        -webkit-opacity: 0;
    }
}

@keyframes animate-red {
    0% {
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes animate-yellow {
    0% {
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes animate-green {
    0% {
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.pokemon__image{
    position: absolute;
    bottom: 44%;
    left: 18%;
    transform: translate(2%, 2%);
    height: 20%;
}
.abilities{
    position: absolute;
    bottom: 59.8%;
    left: 69.5%;
}

.abilities_text{
    font-weight: 600;
    color: #F2F4E7;
    font-size: 60%;
}
.abilities0{
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    bottom: 56%;
    left: 58.5%;
    border-radius: 10%;
    width: 30%;
}

.pokemon__abilitie_1,
.pokemon__abilitie_2,
.pokemon__abilitie_3,
.pokemon__abilitie_4{
    font-weight: 300;
    text-transform: capitalize;
    color: #F2F4E7;
}

.types1{
    position: absolute;
    bottom: 32.2%;
    left: 58.5%;
}

.types2{
    position: absolute;
    bottom: 32.2%;
    left: 69.5%
}

.pokemon__type_1, .pokemon__type_2{
    font-weight: 600;
    text-transform: capitalize;
}

.pokemon__data{
    position: absolute;
    color: #3a444d;
    top: 78.5%;
    left: 10.2%;
    font-size: clamp(8px, 5vw, 20px);

}

.pokemon__name{
    color: #292f35;
    text-transform: capitalize;
}

.form{
    position: absolute;
    width: 32%;
    top: 74%;
    left: 57.5%;
}

.input_search{
    width: 100%;
    padding: 3%;
    outline: none;
    background-color: #F2F4E7;
    border: 2px solid #F2F4E7;
    border-radius: 5px;
    font-weight: 600;
    box-shadow: 1px 6px 0 #510C25, 6px 6px 0 #510C25 ;
}

.buttons1{
    position: absolute;
    top: 75.2%;
    left: 31.5%;
    width:  8%;
    display: flex;
    gap: 30px;
}

.buttons-up{
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 71%;
    left: 31.8%;
    width: 5%;
    gap: 30px;
    transform: rotate(180deg);
}

.buttons-down{
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 79.5%;
    left: 34.3%;
    width: 5%;
    gap: 30px;
}

button{
    width: 50%;
    align-items: center;
}

.img-button-l{
    width: 60%;
    transform: rotate(180deg);
}

.img-button-r{
    width: 60%;
}

.img-button-up{
    width: 50%;
    transform: rotate(90deg);
}

.img-button-down{
    width: 50%;
    transform: rotate(90deg);
}